
*{
    padding: 0;
    margin: 0;
}
html{
    width: 100vw;
}
body{
    background-color: hsla(1, 42%, 75%, 0.242);
    
}
@font-face {
    font-family: "gramond";
    src: url('fontes/gramond/static/EBGaramond-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Monstart";
    src: url('fontes/Montserrat/static/Montserrat-Light.ttf') 
    format('truetype');
}


/* HEADER */

.logo {
    display: block;
    border-radius: 50%;
    width: 120px;
    cursor: pointer;
}
.main-header {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    align-items: center;
}
.main-header span{
    font-size: 1.0rem;
    text-transform: uppercase;
    font-family: "Monstart";
}
.main-header nav a{
    color:hsla(356, 29%, 20%, 0.783);
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Monstart";
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, hsla(1, 42%, 75%, 0.242), hsla(1, 42%, 75%, 0.612));
    transition-duration: 0.2s;
    border: none;
    padding: 0.5rem;
    
    
}
.main-header nav a:hover{
    background-image: linear-gradient(to left, hsla(1, 42%, 75%, 0.242), hsla(1, 42%, 75%, 0.612));
    transition-duration: 1s;
    

}
#line-header {
    border-bottom: 1px solid hsla(356, 29%, 20%, 0.241);
    width: 90vw;
    margin: 0 auto;
}




/* CATEGORIES */
main {
    height: 100vh;
    margin: 10rem 0;
}
.main-categories{
    text-align: center;
    color:hsla(356, 29%, 20%, 0.783) ;
}
.main-categories h1{
    font-family: "gramond";
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}
.main-categories p{
    margin-bottom: 2rem;
    font-size: 1.0rem;
}
.list-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    font-family: "Monstart";
    text-transform: uppercase;
}
.list-categories .txt-categories{
    color: hsla(356, 29%, 20%, 0.783);
    text-decoration: none;
    font-size: 1.5rem;
    padding-top: 0.5rem;

    
}
.list-categories img{
    max-width: 250px;
    display: block;
    border-radius: 0.5rem;
}
.item-categorie{
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
.item-categorie:hover{
    border: 1px solid hsla(356, 29%, 20%, 0.796);
    padding: 0.5rem;
    
    background-color: #daa5a49c ;
    color: white;
    transition-duration: 1s;
}
@media (max-width:768px){
    #logo-home span {
        
        width: 6rem;
    }
}


/* FOOTER */
footer{
    background-color: white;
    border-radius: 0 20rem 0 0;
    height: 30vh;
}
.main-footer {
    padding: 5rem 10rem 0 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-footer img{
    padding: 1rem;
}
 #logo-ansize{
    width: 80px;
 }
 .social-midia-icons{
    display: flex;
 }
 .social-midia-icons img{
    width: 32px;
 }